In [28]:
gene_id = """query Search($dataset: DatasetId!, $query: String!) {
    searchResults(dataset: $dataset, query: $query) {
      label
      value: url
    }
  }"""

In [48]:
query_variables = """{
  "dataset": "gnomad_r3",
  "query": "%s"
}"""

In [49]:
from pynomad.Search import Search

In [50]:
sch = Search('gnomad_r3', gene_id, query_variables)

In [52]:
ans = sch.request_gnomad("idua")

In [59]:
val = ans['data']['searchResults'][0]['value']
val

'/gene/ENSG00000127415?dataset=gnomad_r3'

In [74]:
ensid = val.split('/')[-1].split('?')[0]

In [69]:
class Search:

    def __init__(self, dataset_id, query, query_variables):
        self.ds = dataset_id
        self.end_point = "https://gnomad.broadinstitute.org/api/"
        self.query = query
        self.query_vars = query_variables

        self.dm = None

In [70]:
class GeneSearch(Search):

    def __init__(self, gene: str):
        super().__init__("aro", "", "")
        self.gene = gene

In [71]:
fs = GeneSearch("aa")

In [73]:
fs.ds

'aro'

In [1]:
from pynomad import GeneSearch

In [2]:
gs = GeneSearch(3, "idua")

In [3]:
gs.gene_ens_id

'/gene/ENSG00000127415?dataset=gnomad_r3'

In [3]:
from pynomad import RegionSearch
rs = RegionSearch(3, 4, 1002741, 1002771)
normal, _ = rs.get_data()

In [4]:
normal

,Variant ID,Gene,Consequence,Annotation,Flags,Allele Count,Allele Number,Allele Frequency,Number of Homozygotes,Chromosome,Location,Reference,Alternative
0,4-1002747-G-A,IDUA,p.Trp402Ter,stop_gained,[],120,142464,0.000842,0,4,1002747,G,A
1,4-1002750-C-T,IDUA,p.Ala403Val,missense_variant,[],2,141870,0.000014,0,4,1002750,C,T
2,4-1002751-C-G,IDUA,p.Ala403Ala,synonymous_variant,[],2,143004,0.000014,0,4,1002751,C,G
3,4-1002756-T-G,IDUA,p.Val405Gly,missense_variant,[],1,141746,0.000007,0,4,1002756,T,G
4,4-1002759-C-G,IDUA,p.Ser406Trp,missense_variant,[],2,142602,0.000014,0,4,1002759,C,G
5,4-1002766-C-T,IDUA,p.Ala408Ala,synonymous_variant,[],3,143012,0.000021,0,4,1002766,C,T
6,4-1002767-G-C,IDUA,p.Gly409Arg,missense_variant,[],2750,142238,0.019334,67,4,1002767,G,C
7,4-1002768-G-A,IDUA,p.Gly409Glu,missense_variant,[],2,143002,0.000014,0,4,1002768,G,A
8,4-1002770-A-C,IDUA,p.Thr410Pro,missense_variant,[],5,140858,0.000035,0,4,1002770,A,C
9,4-1002770-AC-A,IDUA,p.Val411SerfsTer29,frameshift_variant,[],1,140860,0.000007,0,4,1002770,AC,A