In [28]:
gene_id = """query Search($dataset: DatasetId!, $query: String!) {
    searchResults(dataset: $dataset, query: $query) {
      label
      value: url
    }
  }"""

In [48]:
query_variables = """{
  "dataset": "gnomad_r3",
  "query": "%s"
}"""

In [49]:
from pynomad.Search import Search

In [50]:
sch = Search('gnomad_r3', gene_id, query_variables)

In [52]:
ans = sch.request_gnomad("idua")

In [59]:
val = ans['data']['searchResults'][0]['value']
val

'/gene/ENSG00000127415?dataset=gnomad_r3'

In [74]:
ensid = val.split('/')[-1].split('?')[0]

In [69]:
class Search:

    def __init__(self, dataset_id, query, query_variables):
        self.ds = dataset_id
        self.end_point = "https://gnomad.broadinstitute.org/api/"
        self.query = query
        self.query_vars = query_variables

        self.dm = None

In [70]:
class GeneSearch(Search):

    def __init__(self, gene: str):
        super().__init__("aro", "", "")
        self.gene = gene

In [71]:
fs = GeneSearch("aa")

In [73]:
fs.ds

'aro'

In [1]:
from pynomad import GeneSearch

In [2]:
gs = GeneSearch(3, "idua")

In [3]:
gs.gene_ens_id

'ENSG00000127415'

In [2]:
from pynomad import RegionSearch
rs = RegionSearch(3, 4, 1002741, 1002771)
normal, _ = rs.get_data()
normal

,Variant ID,Gene,Consequence,Annotation,Flags,Allele Count,Allele Number,Allele Frequency,Number of Homozygotes,Chromosome,Location,Reference,Alternative
0,4-1002747-G-A,IDUA,p.Trp402Ter,stop_gained,[],120,142464,0.000842,0,4,1002747,G,A
1,4-1002750-C-T,IDUA,p.Ala403Val,missense_variant,[],2,141870,0.000014,0,4,1002750,C,T
2,4-1002751-C-G,IDUA,p.Ala403Ala,synonymous_variant,[],2,143004,0.000014,0,4,1002751,C,G
3,4-1002756-T-G,IDUA,p.Val405Gly,missense_variant,[],1,141746,0.000007,0,4,1002756,T,G
4,4-1002759-C-G,IDUA,p.Ser406Trp,missense_variant,[],2,142602,0.000014,0,4,1002759,C,G
5,4-1002766-C-T,IDUA,p.Ala408Ala,synonymous_variant,[],3,143012,0.000021,0,4,1002766,C,T
6,4-1002767-G-C,IDUA,p.Gly409Arg,missense_variant,[],2750,142238,0.019334,67,4,1002767,G,C
7,4-1002768-G-A,IDUA,p.Gly409Glu,missense_variant,[],2,143002,0.000014,0,4,1002768,G,A
8,4-1002770-A-C,IDUA,p.Thr410Pro,missense_variant,[],5,140858,0.000035,0,4,1002770,A,C
9,4-1002770-AC-A,IDUA,p.Val411SerfsTer29,frameshift_variant,[],1,140860,0.000007,0,4,1002770,AC,A

In [5]:
ans = gs.get_json()

In [12]:
ans['data']['gene']['chrom']

'4'

In [1]:
from pynomad import GeneSearch
gs = GeneSearch(3, "idua")
normal, clinical = gs.get_data()
normal

,Variant ID,Gene,Consequence,Annotation,Flags,Allele Count,Allele Number,Allele Frequency,Number of Homozygotes,Chromosome,Location,Reference,Alternative
0,4-987000-A-G,IDUA,c.-85A>G,5_prime_UTR_variant,[],1,140350,0.000007,0,4,987000,A,G
1,4-987002-A-G,IDUA,c.-83A>G,5_prime_UTR_variant,[],1,140342,0.000007,0,4,987002,A,G
2,4-987003-T-G,IDUA,c.-82T>G,5_prime_UTR_variant,[],1,139354,0.000007,0,4,987003,T,G
3,4-987004-G-A,IDUA,c.-81G>A,5_prime_UTR_variant,[],1,142964,0.000007,0,4,987004,G,A
4,4-987005-G-T,IDUA,c.-80G>T,5_prime_UTR_variant,[],1,143228,0.000007,0,4,987005,G,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5525,4-1004487-C-T,IDUA,c.*94C>T,3_prime_UTR_variant,[],4,143296,0.000028,0,4,1004487,C,T
5526,4-1004491-A-T,IDUA,c.*98A>T,3_prime_UTR_variant,[],1,143074,0.000007,0,4,1004491,A,T
5527,4-1004492-T-C,IDUA,c.*99T>C,3_prime_UTR_variant,[],2,143280,0.000014,0,4,1004492,T,C
5528,4-1004503-TTTA-T,IDUA,None,3_prime_UTR_variant,[],25,143260,0.000175,0,4,1004503,TTTA,T
5529,4-1004505-T-C,IDUA,c.*112T>C,3_prime_UTR_variant,[],1,143248,0.000007,0,4,1004505,T,C

In [4]:
clinical

,clinical_significance,clinvar_variation_id,gold_stars,major_consequence,pos,variant_id
0,[Uncertain_significance],350186,1,5_prime_UTR_variant,987014,4-987014-C-T
1,[Pathogenic],550458,1,start_lost,987085,4-987085-A-C
2,[Pathogenic],639529,1,start_lost,987086,4-987086-T-C
3,[Likely_pathogenic],557150,1,start_lost,987087,4-987087-G-A
4,[Uncertain_significance],526832,1,missense_variant,987095,4-987095-T-C
...,...,...,...,...,...,...
383,[Uncertain_significance],558359,1,stop_gained,1004349,4-1004349-G-T
384,[Likely_benign],743489,1,synonymous_variant,1004381,4-1004381-G-T
385,[Likely_benign],754394,1,synonymous_variant,1004390,4-1004390-A-T
386,[Pathogenic],11920,0,stop_lost,1004391,4-1004391-T-G
387,None,242721,0,stop_lost,1004393,4-1004393-A-T