### Gene Search

In [2]:
from pynoma import GeneSearch
gs = GeneSearch(3, "idua")
df, df_clin = gs.get_data()
df

,Variant ID,Gene,Consequence,Annotation,Flags,Allele Count,Allele Number,Allele Frequency,Number of Homozygotes,Source,Chromosome,Location,Reference,Alternative
0,4-987000-A-G,IDUA,c.-85A>G,5_prime_UTR_variant,[],1,146532,0.000007,0,Genome,4,987000,A,G
1,4-987002-A-G,IDUA,c.-83A>G,5_prime_UTR_variant,[],1,147068,0.000007,0,Genome,4,987002,A,G
2,4-987003-T-G,IDUA,c.-82T>G,5_prime_UTR_variant,[],1,144336,0.000007,0,Genome,4,987003,T,G
3,4-987004-G-A,IDUA,c.-81G>A,5_prime_UTR_variant,[],1,151744,0.000007,0,Genome,4,987004,G,A
4,4-987005-G-T,IDUA,c.-80G>T,5_prime_UTR_variant,[],1,152084,0.000007,0,Genome,4,987005,G,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5894,4-1004540-C-T,IDUA,c.*147C>T,3_prime_UTR_variant,[],61,152232,0.000401,0,Genome,4,1004540,C,T
5895,4-1004543-T-C,IDUA,c.*150T>C,3_prime_UTR_variant,[],1,152230,0.000007,0,Genome,4,1004543,T,C
5896,4-1004547-G-C,IDUA,c.*154G>C,3_prime_UTR_variant,[],5,152188,0.000033,0,Genome,4,1004547,G,C
5897,4-1004548-C-T,IDUA,c.*155C>T,3_prime_UTR_variant,[],97,152206,0.000637,0,Genome,4,1004548,C,T
5898,4-1004550-G-T,IDUA,c.*157G>T,3_prime_UTR_variant,[],1,152180,0.000007,0,Genome,4,1004550,G,T

In [4]:
df_clin

Empty DataFrame
Columns: []
Index: []

### Region Search

In [5]:
from pynoma import RegionSearch
rs = RegionSearch(3, 4, 1002741, 1002771)
df, _ = rs.get_data()
df

,Variant ID,Gene,Consequence,Annotation,Flags,Allele Count,Allele Number,Allele Frequency,Number of Homozygotes,Source,Chromosome,Location,Reference,Alternative
0,4-1002747-G-A,IDUA,p.Trp402Ter,stop_gained,[],130,151238,0.000860,0,Genome,4,1002747,G,A
1,4-1002750-C-T,IDUA,p.Ala403Val,missense_variant,[],2,150266,0.000013,0,Genome,4,1002750,C,T
2,4-1002751-C-G,IDUA,p.Ala403Ala,synonymous_variant,[],2,151840,0.000013,0,Genome,4,1002751,C,G
3,4-1002756-T-G,IDUA,p.Val405Gly,missense_variant,[],1,150082,0.000007,0,Genome,4,1002756,T,G
4,4-1002759-C-G,IDUA,p.Ser406Trp,missense_variant,[],3,151328,0.000020,0,Genome,4,1002759,C,G
5,4-1002766-C-T,IDUA,p.Ala408Ala,synonymous_variant,[],3,151864,0.000020,0,Genome,4,1002766,C,T
6,4-1002767-G-C,IDUA,p.Gly409Arg,missense_variant,[],2757,150922,0.018268,68,Genome,4,1002767,G,C
7,4-1002768-G-A,IDUA,p.Gly409Glu,missense_variant,[],2,151856,0.000013,0,Genome,4,1002768,G,A
8,4-1002770-AC-A,IDUA,p.Val411SerfsTer29,frameshift_variant,[],1,148668,0.000007,0,Genome,4,1002770,AC,A
9,4-1002770-A-C,IDUA,p.Thr410Pro,missense_variant,[],5,148666,0.000034,0,Genome,4,1002770,A,C

In [6]:
df, _ = rs.get_data(additional_population_info=True)
df

,Variant ID,Gene,Consequence,Annotation,Flags,Allele Count,Allele Number,Allele Frequency,Number of Homozygotes,Source,...,African,Amish,Latino,Ashkenazi Jewish,East Asian,European (Finnish),European (non-Finnish),Other,South Asian,Middle Eastern
0,4-1002747-G-A,IDUA,p.Trp402Ter,stop_gained,[],130,151238,0.000860,0,Genome,...,3.168877e-04,0.000000e+00,1.971868e-04,0.000000e+00,0.000000e+00,2.865877e-04,1.621128e-03,4.803074e-04,0.000000e+00,0.000000e+00
1,4-1002750-C-T,IDUA,p.Ala403Val,missense_variant,[],2,150266,0.000013,0,Genome,...,4.895721e-05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,4-1002751-C-G,IDUA,p.Ala403Ala,synonymous_variant,[],2,151840,0.000013,0,Genome,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.944988e-05,0.000000e+00,0.000000e+00,0.000000e+00
3,4-1002756-T-G,IDUA,p.Val405Gly,missense_variant,[],1,150082,0.000007,0,Genome,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.482756e-05,0.000000e+00,0.000000e+00,0.000000e+00
4,4-1002759-C-G,IDUA,p.Ser406Trp,missense_variant,[],3,151328,0.000020,0,Genome,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.425693e-05,0.000000e+00,0.000000e+00,0.000000e+00
5,4-1002766-C-T,IDUA,p.Ala408Ala,synonymous_variant,[],3,151864,0.000020,0,Genome,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.418783e-05,0.000000e+00,0.000000e+00,0.000000e+00
6,4-1002767-G-C,IDUA,p.Gly409Arg,missense_variant,[],2757,150922,0.018268,68,Genome,...,5.894567e-02,0.000000e+00,1.057680e-02,9.243212e-03,1.628089e-02,0.000000e+00,4.872431e-04,1.294343e-02,1.048218e-03,9.740260e-03
7,4-1002768-G-A,IDUA,p.Gly409Glu,missense_variant,[],2,151856,0.000013,0,Genome,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.945768e-05,0.000000e+00,0.000000e+00,0.000000e+00
8,4-1002770-AC-A,IDUA,p.Val411SerfsTer29,frameshift_variant,[],1,148668,0.000007,0,Genome,...,2.484596e-05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
9,4-1002770-A-C,IDUA,p.Thr410Pro,missense_variant,[],5,148666,0.000034,0,Genome,...,1.242298e-04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [7]:
df.iloc[:, 5:]

,Allele Count,Allele Number,Allele Frequency,Number of Homozygotes,Source,Chromosome,Location,Reference,Alternative,African,Amish,Latino,Ashkenazi Jewish,East Asian,European (Finnish),European (non-Finnish),Other,South Asian,Middle Eastern
0,130,151238,0.000860,0,Genome,4,1002747,G,A,3.168877e-04,0.000000e+00,1.971868e-04,0.000000e+00,0.000000e+00,2.865877e-04,1.621128e-03,4.803074e-04,0.000000e+00,0.000000e+00
1,2,150266,0.000013,0,Genome,4,1002750,C,T,4.895721e-05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,2,151840,0.000013,0,Genome,4,1002751,C,G,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.944988e-05,0.000000e+00,0.000000e+00,0.000000e+00
3,1,150082,0.000007,0,Genome,4,1002756,T,G,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.482756e-05,0.000000e+00,0.000000e+00,0.000000e+00
4,3,151328,0.000020,0,Genome,4,1002759,C,G,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.425693e-05,0.000000e+00,0.000000e+00,0.000000e+00
5,3,151864,0.000020,0,Genome,4,1002766,C,T,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.418783e-05,0.000000e+00,0.000000e+00,0.000000e+00
6,2757,150922,0.018268,68,Genome,4,1002767,G,C,5.894567e-02,0.000000e+00,1.057680e-02,9.243212e-03,1.628089e-02,0.000000e+00,4.872431e-04,1.294343e-02,1.048218e-03,9.740260e-03
7,2,151856,0.000013,0,Genome,4,1002768,G,A,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.945768e-05,0.000000e+00,0.000000e+00,0.000000e+00
8,1,148668,0.000007,0,Genome,4,1002770,AC,A,2.484596e-05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
9,5,148666,0.000034,0,Genome,4,1002770,A,C,1.242298e-04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [8]:
from pynoma import RegionSearch
rs = RegionSearch(2, 'X', 1002741, 1002771)
df, _ = rs.get_data(additional_population_info=True)
df

,Variant ID,Gene,Consequence,Annotation,Flags,Allele Count,Allele Number,Allele Frequency,Number of Homozygotes,Number of Hemizygotes,...,Reference,Alternative,African,Latino,Ashkenazi Jewish,East Asian,European (Finnish),European (non-Finnish),Other,South Asian
0,X-1002741-C-T,None,None,None,[par],1,31378,0.000032,0,0,...,C,T,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.488451e-05,0.000000e+00,0.000000e+00
1,X-1002742-G-A,None,None,None,[par],2,31316,0.000064,0,0,...,G,A,2.303086e-04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,X-1002746-TATCA-T,None,None,None,[par],1,31376,0.000032,0,1,...,TATCA,T,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.489293e-05,0.000000e+00,0.000000e+00
3,X-1002765-TTATC-T,None,None,None,[par],9,31374,0.000287,0,4,...,TTATC,T,9.189065e-04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.486767e-05,0.000000e+00,0.000000e+00
4,X-1002767-ATCTATCTT-A,None,None,None,[par],1,31348,0.000032,0,1,...,ATCTATCTT,A,1.150483e-04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
5,X-1002771-ATCTT-A,None,None,None,[par],2,31338,0.000064,0,1,...,ATCTT,A,0.000000e+00,1.179245e-03,0.000000e+00,0.000000e+00,0.000000e+00,6.496037e-05,0.000000e+00,0.000000e+00

In [9]:
df, _ = rs.get_data(standard=False)
df

,consequence,flags,gene_id,gene_symbol,hgvs,hgvsc,hgvsp,lof,lof_filter,lof_flags,pos,rsid,variant_id,exome,genome
0,None,[par],None,None,None,None,None,None,None,None,1002741,rs782385877,X-1002741-C-T,None,"{'ac': 1, 'ac_hemi': 0, 'ac_hom': 0, 'an': 313..."
1,None,[par],None,None,None,None,None,None,None,None,1002742,rs181914603,X-1002742-G-A,None,"{'ac': 2, 'ac_hemi': 0, 'ac_hom': 0, 'an': 313..."
2,None,[par],None,None,None,None,None,None,None,None,1002746,None,X-1002746-TATCA-T,None,"{'ac': 1, 'ac_hemi': 0, 'ac_hom': 0, 'an': 313..."
3,None,[par],None,None,None,None,None,None,None,None,1002765,None,X-1002765-TTATC-T,None,"{'ac': 9, 'ac_hemi': 0, 'ac_hom': 0, 'an': 313..."
4,None,[par],None,None,None,None,None,None,None,None,1002767,None,X-1002767-ATCTATCTT-A,None,"{'ac': 1, 'ac_hemi': 0, 'ac_hom': 0, 'an': 313..."
5,None,[par],None,None,None,None,None,None,None,None,1002771,None,X-1002771-ATCTT-A,None,"{'ac': 2, 'ac_hemi': 0, 'ac_hom': 0, 'an': 313..."

### Transcript Search

In [10]:
from pynoma import TranscriptSearch
ts = TranscriptSearch(3, "ENST00000247933")
df, _ = ts.get_data()
df

,Variant ID,Gene,Consequence,Annotation,Flags,Allele Count,Allele Number,Allele Frequency,Number of Homozygotes,Source,Chromosome,Location,Reference,Alternative
0,4-987010-C-G,IDUA,c.-75C>G,5_prime_UTR_variant,[],1,149172,0.000007,0,Genome,4,987010,C,G
1,4-987013-G-A,IDUA,c.-72G>A,5_prime_UTR_variant,[],3,151256,0.000020,0,Genome,4,987013,G,A
2,4-987014-C-T,IDUA,c.-71C>T,5_prime_UTR_variant,[],37,152092,0.000243,0,Genome,4,987014,C,T
3,4-987021-T-C,IDUA,c.-64T>C,5_prime_UTR_variant,[],2,146758,0.000014,0,Genome,4,987021,T,C
4,4-987023-C-G,IDUA,c.-62C>G,5_prime_UTR_variant,[],1,152126,0.000007,0,Genome,4,987023,C,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199,4-1004450-G-A,IDUA,c.*57G>A,3_prime_UTR_variant,[],1,152196,0.000007,0,Genome,4,1004450,G,A
1200,4-1004450-G-GCA,IDUA,c.*59_*60dup,3_prime_UTR_variant,[],1,152196,0.000007,0,Genome,4,1004450,G,GCA
1201,4-1004452-A-C,IDUA,c.*59A>C,3_prime_UTR_variant,[],7,152152,0.000046,0,Genome,4,1004452,A,C
1202,4-1004458-C-G,IDUA,c.*65C>G,3_prime_UTR_variant,[],2,152180,0.000013,0,Genome,4,1004458,C,G
1203,4-1004459-C-G,IDUA,c.*66C>G,3_prime_UTR_variant,[],23,152202,0.000151,0,Genome,4,1004459,C,G

### Variant Search

In [4]:
from pynoma import VariantSearch
vs = VariantSearch(3, '4-1002747-G-A')
df, meta = vs.get_data()
df

,Allele Count,Allele Number,Number of Homozygotes,Allele Frequency
Other,1,2082,0,0.000480
Other XX,1,1030,0,0.000971
Other XY,0,1052,0,0.000000
Latino,3,15214,0,0.000197
Latino XX,2,6754,0,0.000296
...,...,...,...,...
1KG:CHSXY,0,104,0,0.000000
1KG:GW,0,232,0,0.000000
1KG:GWDXX,0,116,0,0.000000
1KG:GWDXY,0,116,0,0.000000
Total,130,151238,0,0.000860

In [7]:
for row in df.iterrows():
    print(row[0], row[1]['Allele Count'])

Other 1.0
Other XX 1.0
Other XY 0.0
Latino 3.0
Latino XX 2.0
Latino XY 1.0
European (Finnish) 3.0
European (Finnish) XX 1.0
European (Finnish) XY 2.0
Amish 0.0
Amish XX 0.0
Amish XY 0.0
East Asian 0.0
East Asian XX 0.0
East Asian XY 0.0
Middle Eastern 0.0
Middle Eastern XX 0.0
Middle Eastern XY 0.0
South Asian 0.0
South Asian XX 0.0
South Asian XY 0.0
Ashkenazi Jewish 0.0
Ashkenazi Jewish XX 0.0
Ashkenazi Jewish XY 0.0
African 13.0
African XX 6.0
African XY 7.0
European (non-Finnish) 110.0
European (non-Finnish) XX 65.0
European (non-Finnish) XY 45.0
Total XX 75.0
Total XY 55.0
HGDP:JAPANES 0.0
HGDP:JAPANESEXX 0.0
HGDP:JAPANESEXY 0.0
HGDP:ADYGE 0.0
HGDP:ADYGEIXX 0.0
HGDP:ADYGEIXY 0.0
HGDP:ORCADIA 0.0
HGDP:ORCADIANXX 0.0
HGDP:ORCADIANXY 0.0
HGDP:YAKU 0.0
HGDP:YAKUTXX 0.0
HGDP:YAKUTXY 0.0
HGDP:HA 0.0
HGDP:HANXX 0.0
HGDP:HANXY 0.0
HGDP:UYGU 0.0
HGDP:UYGURXX 0.0
HGDP:UYGURXY 0.0
HGDP:MIAOZ 0.0
HGDP:MIAOZUXX 0.0
HGDP:MIAOZUXY 0.0
HGDP:BALOCH 0.0
HGDP:BALOCHIXX 0.0
HGDP:BALOCHIXY 0.0
HGDP:MONGOL 0.0
HGDP:MONGOLAXX 0.0
HGDP:MONGOLAXY 0.0
HGDP:BEDOUI 0.0
HGDP:BEDOUINXX 0.0
HGDP:BEDOUINXY 0.0
HGDP:RUSSIA 0.0
HGDP:RUSSIANXX 0.0
HGDP:RUSSIANXY 0.0
HGDP:DAU 0.0
HGDP:DAURXX 0.0
HGDP:DAURXY 0.0
HGDP:PIM 0.0
HGDP:PIMAXX 0.0
HGDP:PIMAXY 0.0
HGDP:HEZHE 0.0
HGDP:HEZHENXX 0.0
HGDP:HEZHENXY 0.0
HGDP:SINDH 0.0
HGDP:SINDHIXX 0.0
HGDP:SINDHIXY 0.0
HGDP:YIZ 0.0
HGDP:YIZUXX 0.0
HGDP:YIZUXY 0.0
HGDP:OROQE 0.0
HGDP:OROQENXX 0.0
HGDP:OROQENXY 0.0
HGDP:T 0.0
HGDP:TUXX 0.0
HGDP:TUXY 0.0
HGDP:TUSCA 0.0
HGDP:TUSCANXX 0.0
HGDP:TUSCANXY 0.0
HGDP:PALESTINIA 0.0
HGDP:PALESTINIANXX 0.0
HGDP:PALESTINIANXY 0.0
HGDP:TUJI 0.0
HGDP:TUJIAXX 0.0
HGDP:TUJIAXY 0.0
HGDP:DRUZ 0.0
HGDP:DRUZEXX 0.0
HGDP:DRUZEXY 0.0
HGDP:PATHA 0.0
HGDP:PATHANXX 0.0
HGDP:PATHANXY 0.0
HGDP:BASQU 0.0
HGDP:BASQUEXX 0.0
HGDP:BASQUEXY 0.0
HGDP:MAKRAN 0.0
HGDP:MAKRANIXX 0.0
HGDP:MAKRANIXY 0.0
HGDP:ITALIA 1.0
HGDP:ITALIANXX 1.0
HGDP:ITALIANXY 0.0
HGDP:NAX 0.0
HGDP:NAXIXX 0.0
HGDP:NAXIXY 0.0
HGDP:LAH 0.0
HGDP:LAHUXX 0.0
HGDP:LAHUXY 0.0
HGDP:SARDINIA 0.0
HGDP:SARDINIANXX 0.0
HGDP:SARDINIANXY 0.0
HGDP:KARITIAN 0.0
HGDP:KARITIANAXX 0.0
HGDP:KARITIANAXY 0.0
HGDP:MOZABIT 0.0
HGDP:MOZABITEXX 0.0
HGDP:MOZABITEXY 0.0
HGDP:YORUB 0.0
HGDP:YORUBAXX 0.0
HGDP:YORUBAXY 0.0
HGDP:DA 0.0
HGDP:DAIXX 0.0
HGDP:DAIXY 0.0
HGDP:CAMBODIA 0.0
HGDP:CAMBODIANXX 0.0
HGDP:CAMBODIANXY 0.0
HGDP:FRENC 0.0
HGDP:FRENCHXX 0.0
HGDP:FRENCHXY 0.0
HGDP:BANTUSAFRIC 0.0
HGDP:BANTUSAFRICAXX 0.0
HGDP:BANTUSAFRICAXY 0.0
HGDP:MANDENK 0.0
HGDP:MANDENKAXX 0.0
HGDP:MANDENKAXY 0.0
HGDP:SURU 0.0
HGDP:SURUIXX 0.0
HGDP:SURUIXY 0.0
HGDP:BRAHU 0.0
HGDP:BRAHUIXX 0.0
HGDP:BRAHUIXY 0.0
HGDP:HAZAR 0.0
HGDP:HAZARAXX 0.0
HGDP:HAZARAXY 0.0
HGDP:KALAS 0.0
HGDP:KALASHXX 0.0
HGDP:KALASHXY 0.0
HGDP:XIB 0.0
HGDP:XIBOXX 0.0
HGDP:XIBOXY 0.0
HGDP:COLOMBIA 0.0
HGDP:COLOMBIANXX 0.0
HGDP:COLOMBIANXY 0.0
HGDP:BANTUKENY 0.0
HGDP:BANTUKENYAXX 0.0
HGDP:BANTUKENYAXY 0.0
HGDP:SH 0.0
HGDP:SHEXX 0.0
HGDP:SHEXY 0.0
HGDP:BURUSH 0.0
HGDP:BURUSHOXX 0.0
HGDP:BURUSHOXY 0.0
HGDP:MAY 0.0
HGDP:MAYAXX 0.0
HGDP:MAYAXY 0.0
1KG:ES 0.0
1KG:ESNXX 0.0
1KG:ESNXY 0.0
1KG:PU 0.0
1KG:PURXX 0.0
1KG:PURXY 0.0
1KG:PJ 0.0
1KG:PJLXX 0.0
1KG:PJLXY 0.0
1KG:CL 0.0
1KG:CLMXX 0.0
1KG:CLMXY 0.0
1KG:JP 0.0
1KG:JPTXX 0.0
1KG:JPTXY 0.0
1KG:CH 0.0
1KG:CHBXX 0.0
1KG:CHBXY 0.0
1KG:ST 0.0
1KG:STUXX 0.0
1KG:STUXY 0.0
1KG:IT 0.0
1KG:ITUXX 0.0
1KG:ITUXY 0.0
1KG:TS 0.0
1KG:TSIXX 0.0
1KG:TSIXY 0.0
1KG:MX 0.0
1KG:MXLXX 0.0
1KG:MXLXY 0.0
1KG:CE 1.0
1KG:CEUXX 0.0
1KG:CEUXY 1.0
1KG:MS 0.0
1KG:MSLXX 0.0
1KG:MSLXY 0.0
1KG:BE 0.0
1KG:BEBXX 0.0
1KG:BEBXY 0.0
1KG:YR 0.0
1KG:YRIXX 0.0
1KG:YRIXY 0.0
1KG:FI 0.0
1KG:FINXX 0.0
1KG:FINXY 0.0
1KG:KH 0.0
1KG:KHVXX 0.0
1KG:KHVXY 0.0
1KG:CD 0.0
1KG:CDXXX 0.0
1KG:CDXXY 0.0
1KG:LW 0.0
1KG:LWKXX 0.0
1KG:LWKXY 0.0
1KG:AC 0.0
1KG:ACBXX 0.0
1KG:ACBXY 0.0
1KG:AS 0.0
1KG:ASWXX 0.0
1KG:ASWXY 0.0
1KG:IB 1.0
1KG:IBSXX 1.0
1KG:IBSXY 0.0
1KG:GB 1.0
1KG:GBRXX 1.0
1KG:GBRXY 0.0
1KG:PE 0.0
1KG:PELXX 0.0
1KG:PELXY 0.0
1KG:GI 0.0
1KG:GIHXX 0.0
1KG:GIHXY 0.0
1KG:CH 0.0
1KG:CHSXX 0.0
1KG:CHSXY 0.0
1KG:GW 0.0
1KG:GWDXX 0.0
1KG:GWDXY 0.0
Total 130.0

In [2]:
meta

{'variantId': '4-1002747-G-A',
 'reference_genome': 'GRCh38',
 'chrom': '4',
 'pos': 1002747,
 'ref': 'G',
 'alt': 'A',
 'colocatedVariants': [],
 'multiNucleotideVariants': None,
 'exome': None,
 'genome': {'ac': 130,
  'an': 151238,
  'ac_hemi': 0,
  'ac_hom': 0,
  'faf95': {'popmax': 0.0013750999999999995, 'popmax_population': 'nfe'},
  'filters': [],
  'age_distribution': {'het': {'bin_edges': [30,
     35,
     40,
     45,
     50,
     55,
     60,
     65,
     70,
     75,
     80],
    'bin_freq': [1, 2, 4, 5, 8, 4, 11, 5, 3, 3],
    'n_smaller': 2,
    'n_larger': 1},
   'hom': {'bin_edges': [30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80],
    'bin_freq': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
    'n_smaller': 0,
    'n_larger': 0}},
  'qualityMetrics': {'alleleBalance': {'alt': {'bin_edges': [0,
      0.05,
      0.1,
      0.15,
      0.2,
      0.25,
      0.3,
      0.35,
      0.4,
      0.45,
      0.5,
      0.55,
      0.6,
      0.65,
      0.7,
      0.75,
      0.8,
      0.85,
      0.9,
      0.95,
      1],
     'bin_freq': [0,
      0,
      0,
      0,
      0,
      3,
      3,
      9,
      27,
      18,
      27,
      21,
      14,
      5,
      3,
      0,
      0,
      0,
      0,
      0],
     'n_smaller': 0,
     'n_larger': 0}},
   'genotypeDepth': {'all': {'bin_edges': [0,
      5,
      10,
      15,
      20,
      25,
      30,
      35,
      40,
      45,
      50,
      55,
      60,
      65,
      70,
      75,
      80,
      85,
      90,
      95,
      100],
     'bin_freq': [0,
      0,
      672,
      3254,
      6988,
      12811,
      22385,
      18502,
      6570,
      2325,
      1076,
      546,
      236,
      105,
      68,
      30,
      20,
      12,
      3,
      4],
     'n_smaller': 0,
     'n_larger': 12},
    'alt': {'bin_edges': [0,
      5,
      10,
      15,
      20,
      25,
      30,
      35,
      40,
      45,
      50,
      55,
      60,
      65,
      70,
      75,
      80,
      85,
      90,
      95,
      100],
     'bin_freq': [0,
      0,
      0,
      9,
      13,
      27,
      33,
      17,
      11,
      9,
      8,
      3,
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      0],
     'n_smaller': 0,
     'n_larger': 0}},
   'genotypeQuality': {'all': {'bin_edges': [0,
      5,
      10,
      15,
      20,
      25,
      30,
      35,
      40,
      45,
      50,
      55,
      60,
      65,
      70,
      75,
      80,
      85,
      90,
      95,
      100],
     'bin_freq': [0,
      0,
      0,
      0,
      21869,
      15108,
      10508,
      6990,
      5703,
      3998,
      2631,
      2295,
      1725,
      1127,
      945,
      698,
      480,
      390,
      267,
      885],
     'n_smaller': 0,
     'n_larger': 0},
    'alt': {'bin_edges': [0,
      5,
      10,
      15,
      20,
      25,
      30,
      35,
      40,
      45,
      50,
      55,
      60,
      65,
      70,
      75,
      80,
      85,
      90,
      95,
      100],
     'bin_freq': [0,
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      129],
     'n_smaller': 0,
     'n_larger': 0}},
   'siteQualityMetrics': [{'metric': 'SiteQuality', 'value': 103146},
    {'metric': 'InbreedingCoeff', 'value': -0.0008566379547119141},
    {'metric': 'AS_FS', 'value': 1.1223795673810724},
    {'metric': 'AS_MQ', 'value': 59.99230252893227},
    {'metric': 'AS_MQRankSum', 'value': -0.015},
    {'metric': 'AS_pab_max', 'value': 1},
    {'metric': 'AS_QUALapprox', 'value': 103112},
    {'metric': 'AS_QD', 'value': 13.512252807617188},
    {'metric': 'AS_ReadPosRankSum', 'value': 0.345},
    {'metric': 'AS_SOR', 'value': 0.8053475445445624},
    {'metric': 'AS_VarDP', 'value': 7631},
    {'metric': 'AS_VQSLOD', 'value': 5.7406}]}},
 'flags': [],
 'rsid': 'rs121965019',
 'sortedTranscriptConsequences': [{'canonical': None,
   'gene_id': 'ENSG00000127415',
   'gene_version': '13',
   'gene_symbol': 'IDUA',
   'hgvs': 'p.Trp402Ter',
   'hgvsc': 'c.1205G>A',
   'hgvsp': 'p.Trp402Ter',
   'lof': 'HC',
   'lof_flags': None,
   'lof_filter': None,
   'major_consequence': 'stop_gained',
   'polyphen_prediction': None,
   'sift_prediction': None,
   'transcript_id': 'ENST00000514224',
   'transcript_version': '2'},
  {'canonical': True,
   'gene_id': 'ENSG00000127415',
   'gene_version': '13',
   'gene_symbol': 'IDUA',
   'hgvs': 'p.Trp402Ter',
   'hgvsc': 'c.1205G>A',
   'hgvsp': 'p.Trp402Ter',
   'lof': 'HC',
   'lof_flags': None,
   'lof_filter': None,
   'major_consequence': 'stop_gained',
   'polyphen_prediction': None,
   'sift_prediction': None,
   'transcript_id': 'ENST00000247933',
   'transcript_version': '9'},
  {'canonical': None,
   'gene_id': 'ENSG00000127415',
   'gene_version': '13',
   'gene_symbol': 'IDUA',
   'hgvs': 'n.7G>A',
   'hgvsc': 'n.7G>A',
   'hgvsp': None,
   'lof': None,
   'lof_flags': None,
   'lof_filter': None,
   'major_consequence': 'non_coding_transcript_exon_variant',
   'polyphen_prediction': None,
   'sift_prediction': None,
   'transcript_id': 'ENST00000502829',
   'transcript_version': '1'},
  {'canonical': None,
   'gene_id': 'ENSG00000127415',
   'gene_version': '13',
   'gene_symbol': 'IDUA',
   'hgvs': 'n.1312G>A',
   'hgvsc': 'n.1312G>A',
   'hgvsp': None,
   'lof': None,
   'lof_flags': None,
   'lof_filter': None,
   'major_consequence': 'non_coding_transcript_exon_variant',
   'polyphen_prediction': None,
   'sift_prediction': None,
   'transcript_id': 'ENST00000514698',
   'transcript_version': '5'},
  {'canonical': None,
   'gene_id': 'ENSG00000127415',
   'gene_version': '13',
   'gene_symbol': 'IDUA',
   'hgvs': 'n.1261G>A',
   'hgvsc': 'n.1261G>A',
   'hgvsp': None,
   'lof': None,
   'lof_flags': None,
   'lof_filter': None,
   'major_consequence': 'non_coding_transcript_exon_variant',
   'polyphen_prediction': None,
   'sift_prediction': None,
   'transcript_id': 'ENST00000652070',
   'transcript_version': '1'}]}

In [2]:
vs = VariantSearch(2, '4-980801-G-A')
df, meta = vs.get_data()
df

,Allele Count,Allele Number,Number of Homozygotes,Allele Frequency
African,0.0,8642.0,0.0,0.000000
African XX,0.0,3654.0,0.0,0.000000
African XY,0.0,4988.0,0.0,0.000000
Latino,0.0,842.0,0.0,0.000000
Latino XX,0.0,410.0,0.0,0.000000
Latino XY,0.0,432.0,0.0,0.000000
Ashkenazi Jewish,0.0,286.0,0.0,0.000000
Ashkenazi Jewish XX,0.0,78.0,0.0,0.000000
Ashkenazi Jewish XY,0.0,208.0,0.0,0.000000
East Asian,0.0,1558.0,0.0,0.000000
East Asian Japanese,0.0,0.0,0.0,0.000000
East Asian Korean,0.0,0.0,0.0,0.000000
East Asian Other,0.0,0.0,0.0,0.000000
East Asian XX,0.0,538.0,0.0,0.000000
East Asian XY,0.0,1020.0,0.0,0.000000
European (Finnish),0.0,3446.0,0.0,0.000000
European (Finnish) XX,0.0,1838.0,0.0,0.000000
European (Finnish) XY,0.0,1608.0,0.0,0.000000
European (non-Finnish),2.0,15334.0,0.0,0.000130
European (non-Finnish) Bulgarian,0.0,0.0,0.0,0.000000
European (non-Finnish) Estonian,0.0,4524.0,0.0,0.000000
European (non-Finnish) North-western,2.0,8572.0,0.0,0.000233
European (non-Finnish) Other,0.0,2134.0,0.0,0.000000
European (non-Finnish) Southern,0.0,104.0,0.0,0.000000
European (non-Finnish) Swedish,0.0,0.0,0.0,0.000000
European (non-Finnish) XX,2.0,6762.0,0.0,0.000296
European (non-Finnish) XY,0.0,8572.0,0.0,0.000000
Other,0.0,1086.0,0.0,0.000000
Other XX,0.0,562.0,0.0,0.000000
Other XY,0.0,524.0,0.0,0.000000
South Asian,0.0,0.0,0.0,0.000000
South Asian XX,0.0,0.0,0.0,0.000000
South Asian XY,0.0,0.0,0.0,0.000000
Total XX,2.0,13842.0,0.0,0.000144
Total XY,0.0,17352.0,0.0,0.000000
Total,2.0,31194.0,0.0,0.000064